@use "config" as *;

// Складируйте сюда все миксины, используемые на сайте
@mixin button {
	width: inherit;
	height: inherit;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	border-radius: 50px;
	border: 2px solid $color-purple;
}

@mixin button-text {
	font-size: 16px;
	text-transform: uppercase;
	color: $color-purple;
	margin-right: 10px;
	text-decoration: none;
	font-weight: 600;
}

@mixin date {
	display: flex;
	background-color: $tag-background;
	border-radius: 20px;
	width: 118px;
	height: 34px;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	color: $color-gray;
}

@mixin description {
	flex-grow: 1;
	font-size: 20px;
	line-height: 1.6;
}

@mixin field-container {
	width: 80%;
	margin-bottom: 10px;
}

@mixin field-text {
	font-size: 16px;
	margin-bottom: 5px;
	color: $color-gray;
}

@mixin field {
	width: 60%;
	font-size: 16px;
	border: 2px solid $color-purple;
	box-sizing: border-box;
	background: fixed;
}
