@use "style" as *;

$block-name: "b-news-banner";

.#{$block-name} {
	margin-bottom: 20px;

	&__block {
		width: 100%;
		height: 646px;
		line-height: 1.3;
		background-size: cover;
		background-position: center;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__text {
		width: 80%;
	}

	&__header {
		font-size: 64px;
		font-weight: 600;
		color: $color-white;
		letter-spacing: 2px;
		margin-bottom: 30px;
	}

	&__announce {
		font-size: 32px;
		color: $color-white;
	}
}
