.register-table {
    width: 500px;
    border-spacing: 15px;
}

.register-field__label {
    font-size: 16px;
    color: #5a6c77;
}

.register-field__input input{
    box-sizing: border-box;
    border-radius: 50px;
    border: 2px solid #9B407A;
    height: 34px;
    width: 100%;
    background: fixed;
    padding: 0 10px;
    font-size: 16px;
}

.register-hint {
    margin-bottom: 5px;
}