@use "style" as *;

$block-name: "b-news-item";

.#{$block-name} {
	display: flex;

	&__container {
		display: flex;
		flex-direction: column;
		flex-grow: 1;

		&:last-child {
			justify-self: end;
		}
	}

	&__date {
		margin-bottom: 30px;
		display: flex;
		background-color: $tag-background;
		border-radius: 20px;
		width: 118px;
		height: 34px;
		align-items: center;
		justify-content: center;
		font-size: 16px;
		color: $color-gray;
	}

	&__title {
		margin-bottom: 30px;
		font-size: 32px;
		font-weight: 600;
	}

	&__description {
		margin-bottom: 30px;
		flex-grow: 1;
		font-size: 20px;
		line-height: 1.6;
	}

	&__button-link {
		width: 216px;
		height: 54px;
	}

	&__button-container {
		@include button;
	}

	&__button-text {
		@include button-text;
	}
}
